.newsCard {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
  margin-bottom: 15px;
}

.deleteButton {
  font-size: 15px;
  padding-top: 20px;
  font-weight: 600;
  height: 50px;
  text-align: center;
  border: none;
  width: 100%;
  border-radius: 6px;
  background-color: lightcoral;
  color: #fff;
  transition: all 0.2s;
}
