.newsUser{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userWrapper{
    display: flex;
    grid-gap: 5px;
    gap: 5px;
}
.userAvatar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.userName{
    font-size: 15px;
    font-weight: 600;
    color: #0f0505  ;
}
.userTime{
    color: #b0b3b8;
    font-size: 13px;
}

.newsDescription{
    padding: 0 15px 10px;
    font-size: 15px;
}

.newsImage{
    margin-bottom: -5px;
}

.newsImage img {
    width: 100%;
}

.newsEmotion{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    justify-content: space-between;
}

.emotion{
    display: flex;
    align-items: center;
}
.emotion img{
    width: 20px;
    height: 20px;
}
.emotion span{
    color: #65676b;
    padding-left: 6px;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.comment{
    color: #65676b;
    font-size: 15px;
}

.feedAction{
    padding: 0 15px;
}
.feedActionWrapper{
    padding: 5px 0;
    border-top: 0.5px solid rgba(0,0,0,.2);
    border-bottom: 0.5px solid rgba(0,0,0,.2);
    display: flex;
    justify-content: space-between;
}

.action{
    flex: 1 1;
    display: flex;
    justify-content: center;
    transition: all .2s;
    padding: 6px 0;
    color: #65676b;
}

.emotionIcon{
    font-size: 18px;
    display: flex;
    align-items: center;
}

.anticon{
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
}
.emotionTitle{
    font-size: 15px;
    padding-left: 8px;
    font-weight: 600;
}

.feedComment{
    padding: 10px 15px;
}

.addComment{
    display: flex;
    align-items: center;
}
.addComment img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.commentInput{
    width: 100%;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    padding-left: 10px;
    background: #f0f2f5;
    margin-left: 12px;
    line-height: 15px;
    height: 36px;
}

