.newsDescription {
  padding: 0 15px 10px;
  font-size: 15px;
}

.newsImage {
  margin-bottom: -5px;
}

.newsImage img {
  width: 100%;
}
.newsEmotion {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  justify-content: space-between;
}

.feedAction {
  padding: 0 15px;
}

.feedComment {
  padding: 10px 15px;
}
