.bodypart{
    display: flex;
    justify-content: space-between;
    padding: 12px 14px;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}
.Content{
    max-width: 1000px;
    position: relative;
    padding: 12px 20px;
}

