*, *::before, *::after {
    box-sizing: border-box;
}
.Header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin   : 5px 0;
   font-family:Arial, Helvetica, sans-serif;
   max-width: 1150px;
}

h1{
    font-weight: bold;

}

.search-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 14px;
    background: rgba(22, 24, 35, 0.06); 
    border-radius: 92px;
    overflow: hidden;
}

.search-bar{
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    border: none;
    outline: none;
    background: transparent;
    padding: 0px;
    width: 252px;
    appearance: textfield;
    position: relative;
}

.border-line{
    width: 1px;
    height: 28px;
    margin: -3px 0;
    background: black;
}

.search-button{
    margin-left: 0;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    border: none;
}

.ActButton{
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.upbutton{
    min-width: 110px;
    padding: 0 14px;
    height: 36px;
    background-color: aqua;
    border: 1px solid rgba(9, 168, 247, 0.12);
    border-radius: 2px;
    justify-content: center;
    font-size: small;
    align-items: center;
}

.messbutton{
    border-radius: 4px;
    border: none;
    color: rgba(255, 255, 255, 1.0);
    background-color: rgba(254, 44, 85, 1.0);
    min-height: 36px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
    font-size: 16px;
    line-height: 22px;
    margin-left: 16px;
    min-width: 100px;
}


