.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}
.content {
  width: 500px;
  background-color: #fff;
}

.footer {
  padding: 10px;
}
.title {
  margin: 0;
}
.body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.button {
  background-color: aqua;
}
