.emotion {
  display: flex;
  align-items: center;
}
.emotion img {
  width: 20px;
  height: 20px;
}
.emotion span {
  color: #65676b;
  padding-left: 6px;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.comment {
  color: #65676b;
  font-size: 15px;
}
